/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  color: #222;
}

header {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

nav {
  margin-left: 40px;
  flex-grow: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

.menu li a {
  color: #222;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.menu li a:hover {
  background-color: #f0f0f0;
}

main {
 
  padding: 30px;
  max-width: 800px;
  margin: 0 auto; /* ✅ centre le bloc */
  text-align: center; /* ✅ centre le texte à l'intérieur */

}

/* Couleurs pour les titres */
h1 {
  font-size: 1.9em; /* taille réduite mais encore bien visible */
  margin-bottom: 10px;
  color: #1a1a1a;
}


h2, h3 {
  color: #444;
}

.highlight {
  color: #000;
}


.formulaire-contact {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.1em;
}

.formulaire-contact input,
.formulaire-contact textarea {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulaire-contact button {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  background-color: #daa520;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulaire-contact button:hover {
  background-color: #c4941c;
}


.titre-article {
  font-size: 1.5em;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.titre-article:hover {
  color: #daa520; /* couleur dorée au survol */
}


.date-pub {
  text-align: right;
  font-size: 0.95em;
  color: #888;
  margin-top: 40px;
  font-style: italic;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

