/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  color: #222;
}

header {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

nav {
  margin-left: 40px;
  flex-grow: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

.menu li a {
  color: #222;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.menu li a:hover {
  background-color: #f0f0f0;
}

main {
 
  padding: 30px;
  max-width: 800px;
  margin: 0 auto; /* ✅ centre le bloc */
  text-align: center; /* ✅ centre le texte à l'intérieur */

}

/* Couleurs pour les titres */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #DAA520;
}

h2, h3 {
  color: #444;
}

.highlight {
  color: #000;
}
